DATA
*.json
**/*.json
**/runs
**/MLX-Llama*
mlx-pretrain/runs/*
mlx-pretrain/MLX-Llama*
**/*.jsonl
*.jsonl
mlx-pretrain/MLX-*
**/__pycache__
__pycache__
ADAPTERS
mlx_models
**/sacredhunger.txt
**/allthekingsmen.txt
temp*.txt
